body {
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
    'leftbar go_signup'
    'leftbar login';
}

.leftbar {
    grid-area: leftbar;
    background-color: var(--main-blue-color);
}

.leftbar .title {
    display: flex;
    align-items: center;
    margin-left: var(--section-margin);
    height: 25%;
}

.leftbar .title .logo {
    font-size: var(--logo-size);
    color: var(--black-color);
}

.leftbar .title span {
    font-size: var(--logo-size);
    color: var(--black-color);
    padding: var(--padding-left);
}

.leftbar .desc {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: var(--section-margin);
}

.leftbar .desc .hicc_hiccjoon{
    font-size: var(--title-size);
    color: var(--black-color);
}

.leftbar .desc .hiccjoon {
    font-size: var(--logo-size);
    color: var(--black-color);
}

.go_signup {
    grid-area: go_signup;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--padding-default);
}

.go_signup .comment {
    padding: var(--padding-default);
    font-size: var(--font-medium);
}

.go_signup .signup_btn {
    padding: var(--padding-default);
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 10%;
    background-color: transparent;
}

.go_signup .signup_btn:hover {
    background-color: var(--main-blue-color);
}

.login {
    grid-area: login;
    display: flex;
    flex-direction: column;
    margin-left: var(--section-margin);
}

.login .title {
    display: flex;
    flex-direction: column;
    height: 30%;
    padding-top: 4rem;
}

.login .title h1 {
    padding: var(--padding-default);
    font-size: var(--h1-size);
}

.login .title span {
    padding: var(--padding-default);
    font-size: var(--font-medium);
}

.login .panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--padding-default);
    padding-top: 2rem;
}

.login .panel .input_row {
    display: flex;
    flex-direction: column;
    height: 30%;
}

.login .panel .input_row label {
    font-size: var(--font-large);
    margin-bottom: 5px;
}

.login .panel .input_row input {
    width: 80%;
    height: 40%;
    padding: var(--padding-default);
    font-family: 'GangwonEdu_OTFBoldA', sans-serif;
    font-size: var(--input-size);
    border: 1px solid var(--border-color);
    border-radius: 7px;
}

.login .panel .input_row span {
    margin-top: 5px;
    font-size: var(--input-size);
    color: var(--error-message-color);
}

.login .panel .login_btn {
    margin-top: 1rem;
    width: 150px;
    height: 50px;
    background-color: var(--main-blue-color);
    border: none;
    border-radius: 4rem;
}

.login .panel .login_btn:hover {
    background-color: var(--blue-accent-color);
}