@font-face {
        font-family: 'GangwonEdu_OTFBoldA';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

body {
    font-family: GangwonEdu_OTFBoldA, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    font-size: 30px;
}

h1 {
    text-align: center;
}

#HICCjoon {
    color: blue;
}

section {
    position: relative;
    width: 100%;
    height: 300px;
}

#panel_item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgb(68 68 68 / 4%);
}

#panel_inner {
    padding: 20px 28px;
    height: 260px;
}

#id_pw_wrap {
    margin: 40px 0 0 0;
    padding: 0;
    width: 100%;
    height: 105px;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgb(68 68 68 / 4%);
}

#id_pw_wrap .input_row {
    display: flex;
    width: 100%;
    padding: 14px 17px 13px;
    box-sizing: border-box;
}

#id_pw_wrap .input_row:first-child {
    border-radius: 6px 6px 0 0;
}

#id_pw_wrap .input_row:last-child {
    border-radius: 0 0 6px 6px;
}

.input_row {
    position: relative;
    border: 1px solid #dadada;
    text-align: left;
}

.input_row .blank {
    width: 20px;
    height: 10px;
}

#ID {
    width: 100%;
    border: none;
    outline: none;
}

#password {
    width: 100%;
    border: none;
    outline: none;
}

.input_text {
    font-family: GangwonEdu_OTFBoldA, sans-serif;
    font-size: 18px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

#login_btn {
    width: 100px;
    height: 40px;
    font-family: GangwonEdu_OTFBoldA, sans-serif;
    font-size: 20px;
}

#buttons .blank {
    width: 50px;
    height: 20px;
}

#signup_btn {
    width: 100px;
    height: 40px;
    font-family: GangwonEdu_OTFBoldA, sans-serif;
    font-size: 20px;
}