:root {
    --rule-title-color: #F5F9F9;
    --main-color: #E9EFF4;
}

body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

header .logo {
    display: flex;
    padding: var(--padding-default);
    font-size: var(--logo-size);
}

header .logo *{
    padding: var(--padding-default);
    color: var(--club-representing-color);
}

header .logo .title {
    padding-left: 0;
}

header .member {
    display: flex;
    align-items: center;
}

header .member .login_user {
    font-size: var(--font-medium);
    margin: var(--padding-default);
    padding: var(--padding-default);
}

header .member button {
    margin: var(--padding-default);
    padding: var(--padding-default);
    margin-right: 26px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

header .member button:hover {
    cursor: pointer;
    background-color: var(--main-blue-color);
}

body .main_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-default);
    background-color: var(--rule-title-color);
    border-top: 1px solid var(--border-color);
    height: 50px;
}

body .main_title .title {
    font-size: var(--font-large);
}

body .main_title #remaining_time {
    font-size: var(--font-large);
    color: var(--error-message-color);
}

.contest_rules {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--padding-more);
    background-color: var(--main-color);
}

.contest_rules .rule {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--white-color);
    padding: var(--padding-default);
}

.contest_rules .rule .rule_title {
    margin-bottom: 1rem;
    font-size: var(--font-large);
}

.contest_rules .rule .rule_desc {
    margin-bottom: 1.5rem;
    font-size: var(--font-medium);
}

.contest_rules .rule .rule_list {
    padding-left: 18px;
    list-style-type: upper-roman;
}

.contest_rules .rule .rule_list li {
    padding: var(--padding-default);
    padding-left: 0;
    font-size: var(--font-medium);
}

.contest_rules .rule .rule_list .specific {
    display: inline-block;
    margin: 5px 0 12px;
    font-size: var(--font-medium);
}