body {
    font-family: 'GangwonEdu_OTFBoldA', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
    'leftbar go_signin'
    'leftbar signup';
}

.leftbar {
    grid-area: leftbar;
    background-color: var(--main-blue-color);
}

.leftbar .title {
    display: flex;
    align-items: center;
    margin-left: var(--section-margin);
    height: 25%;
}

.leftbar .title .logo {
    font-size: var(--logo-size);
    color: var(--black-color);
}

.leftbar .title span {
    font-size: var(--logo-size);
    color: var(--black-color);
    padding: var(--padding-left);
}

.leftbar .desc {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: var(--section-margin);
}

.leftbar .desc .hicc_hiccjoon{
    font-size: var(--title-size);
    color: var(--black-color);
}

.leftbar .desc .hiccjoon {
    font-size: var(--logo-size);
    color: var(--black-color);
}

.go_signin {
    grid-area: go_signin;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

.go_signin .comment {
    margin-right: 1rem;
    font-size: var(--font-medium);
}

.go_signin .signin_btn {
    padding: var(--padding-default);
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 10%;
    background-color: transparent;
}

.go_signin .signin_btn:hover {
    background-color: var(--main-blue-color);
}

.signup {
    grid-area: signup;
    display: flex;
    flex-direction: column;
    margin-left: var(--section-margin);
}

.signup .title {
    display: flex;
    flex-direction: column;
    height: 10%;
}

.signup .title h1 {
    padding: var(--padding-default);
    font-size: 28px;
}

.signup .title span {
    padding: var(--padding-default);
    font-size: var(--font-medium);
}

.signup .panel {
    display: flex;
    flex-direction: column;
    height: 75%;
    padding: var(--padding-default);
    padding-top: 1rem;
}

.signup .panel .input_row {
    display: flex;
    flex-direction: column;
    height: 30%;
}

.signup .panel .input_row label {
    font-size: var(--font-large);
    margin-bottom: 5px;
}

.signup .panel .input_row input {
    width: 80%;
    height: 40%;
    padding: var(--padding-default);
    font-size: var(--input-size);
    border: 1px solid var(--border-color);
    border-radius: 7px;
}

.signup .panel .input_row span {
    margin-top: 5px;
    font-size: var(--input-size);
    color: var(--error-message-color);
}

.signup #signup_btn {
    width: 150px;
    height: 40px;
    background-color: var(--main-blue-color);
    border: none;
    margin: var(--padding-default);
    border-radius: 4rem;
}

.signup #signup_btn:hover {
    background-color: var(--blue-accent-color);
}