*{
    margin: 0;
    padding: 0;

    font-size: 12px;

    --task-title-size: 24px;
    --code-font-size: 12px;

    --main-theme-foreground: black;
    --main-theme-background: lightgray;
    --main-theme-code: white;
}

body{
    background-color: darkgray;
}

/* body{
    background-color: white;
} */

.main-section{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    margin: 10px auto 10px auto;
    padding: 20px;

    width: 90vw;
    
    border: 1px solid var(--main-theme-foreground);
    border-radius: 5px;

    background-color: var(--main-theme-background);
}

article div{
    margin: 2px;
}

a{
    color: var(--main-theme-foreground);

    text-decoration: none;
}

span{
    display: flex;
}

#task-title, #solution-title{
    font-size: var(--task-title-size);
    font-weight: bold;
} 

#task-author{
    float: right;
}

#language-container{
    display: inline;

    margin-left: auto;
    margin-right: 0;
}

#language{
    display: inline-block;

    margin: 0 0 0 auto;
    vertical-align: bottom;
}

hr{
    width: 98%;
    margin: 10px auto 10px auto;
    border-bottom: 0 0 1px 0 solid var(--main-theme-foreground);
}

#code{
    display: block;
    height: 50vh;
    padding: 5px;
    font-size: var(--code-font-size);
    border: 1px solid var(--main-theme-foreground);
    border-radius: 3px;
    background-color: var(--main-theme-code);
    overflow: scroll;
}

select{
    display: block;
    /* width: 100%; */
}

textarea{
    border: 0;
    width: 100%;
}