/**{
    margin: 0;
    padding: 0;

    font-size: 12px;

    --task-title-size: 24px;
    --code-font-size: 12px;

    --main-theme-foreground: black;
    --main-theme-background: lightgray;
    --main-theme-code: white;
}*/
/*

body{
    background-color: darkgray;
}

.main-section-container{
    margin: auto;
    width: 90vw;
}

.main-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;

    margin: 10px auto 10px auto;
    padding: 20px;

    border: 1px solid var(--main-theme-foreground);
    border-radius: 5px;

    background-color: var(--main-theme-background);
}

.main-section-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

article div{
    margin: 2px;
}

a{
    color: var(--main-theme-foreground);

    text-decoration: none;
}

span{
    display: flex;
}

button{
    display: flex;
    align-items: center;

    padding: 10px;
    height: 50px;

    margin-left: auto;

    border: 1px solid var(--main-theme-foreground);
    border-radius: 5px;
}

#task-title, #solution-title{
    font-size: var(--task-title-size);
    font-weight: bold;
} 

#task-author{
    float: right;
}

#language-container{
    display: flex;
    align-items: flex-end;
}

#language-container span{
    margin-right: 10px;
}

hr{
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 10px auto 10px auto;
    border-bottom: 0 0 1px 0 solid var(--main-theme-foreground);
}

#editor-pre{
    display: flex;
    flex-grow: 1;

    height: 50vh;
    width: 100%;
    padding: 5px;
    font-size: var(--code-font-size);
    border: 1px solid var(--main-theme-foreground);
    border-radius: 3px;
    background-color: var(--main-theme-code);
    overflow: scroll;
}

#editor-code{
    width: 100%;
    outline: 0;
}*/
body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    border-bottom: 1px solid var(--border-color);
}

header .logo {
    display: flex;
    padding: var(--padding-default);
    font-size: var(--logo-size);
}

header .logo *{
    padding: var(--padding-default);
    color: var(--club-representing-color);
}

header .logo .title {
    padding-left: 0;
}

header .member {
    display: flex;
    align-items: center;
}

header .member .login_user {
    font-size: var(--font-large);
    margin: var(--padding-default);
    padding: var(--padding-default);
}

header .member .point {
    font-size: var(--font-large);
    margin: var(--padding-default);
    padding: var(--padding-default);
}

header .member .point .current_point {
    color: var(--error-message-color);
}

section {
    margin: 20px 24px;
    display: flex;
    flex-direction: column;
}

section .title {
    margin-top: 1rem;
    font-size: var(--title-size);
}

section .time {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

section .time i {
    font-size: 30px;
    color: var(--error-message-color);
}

section .time p {
    padding: var(--padding-left);
    margin: 0;
    color: var(--error-message-color);
    font-size: var(--font-large);
}

section .time #remaining_time {
    font-size: var(--font-large);
    color: var(--error-message-color);
}

section table {
    border: 1px solid var(--border-color);
}

section table thead tr th {
    text-align: start;
}

section table tbody tr td a {
    text-decoration: none;
}

.submit_btn {
    margin: 0 24px;
    padding: var(--padding-default);
    float: right;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    font-size: var(--font-large);
    font-family: 'GangwonEdu_OTFBoldA', sans-serif;
}

.submit_btn:hover {
    background-color: var(--main-blue-color);
}