{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/task.css"%}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!-- Header -->
    <header>
        <div class="logo">
            <i class="fa-solid fa-code"></i>
            <span class="title">HICCjoon</span>
        </div>
        <div class="member">
            <span class="login_user">{{ user.nickname }}님 환영합니다.</span>
        </div>
    </header>

    <section>
        <div class="title">수고하셨습니다.</div>
        <div class="time">
            <i class="fa-sharp fa-solid fa-grip-lines-vertical"></i>
            <p>걸린 시간 : </p>
            <span id="during_time">1시간</span>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">제출 번호</th>
                    <th scope="col">아이디</th>
                    <th scope="col">문제 이름</th>
                    <th scope="col">결과</th>
                    <th scope="col">언어</th>
                    <th scope="col">제출한 시간</th>
                </tr>
            </thead>
            <tbody>
                {% for solution in solution_list %}
                <tr>
                    <td>{{ solution.index| safe }}</td>
                    <td>{{ user.username| safe }}</td>
                    <td>{{ solution.name| safe }}</td>
                    <td>{{ solution.result| safe }}</td>
                    <td>{{ solution.language| safe }}</td>
                    <td>{{ solution.time| safe }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% else %}
    <div class="login_error">
        비정상적인 접근입니다. 로그인 후 이용하시기 바랍니다.
    </div>
{% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/end.js' %}"></script>
{% endblock %}