{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/end.css"%}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <header>
        <h1>수고하셨습니다.</h1>
    </header>
    <section>
        <div id="show_my_score">
            <h2>{{ user.nickname }}님의 점수는</h2>
            <span>{{ score }}점 입니다.</span>
        </div>
        <div id="show_summary">
            <p>걸린 시간 : {{ during_time }}</p>
            <p>해결한 문제 : {{ solving_problem }}</p>
        </div>
    </section>
    <footer>

    </footer>
{% else %}
    <div class="login_error">
        비정상적인 접근입니다. 로그인 후 이용하시기 바랍니다.
    </div>
{% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/end.js' %}"></script>
{% endblock %}