{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/enroll.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
    <header>
        <h1><a href="{% url 'PSP:monitoring' %}">문제 등록</a></h1>
    </header>
    <section>
        <form action="{% url 'PSP:enroll' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="form_inner">
                <div id="task_title">
                    <div id="task_name_place">
                        <label for="task_name">문제 이름</label>
                        <p><input type="text" name="task_name" id="task_name" placeholder="문제 이름" required></p>
                    </div>
                    <div id="task_score_place">
                        <label for="score">점수</label>
                        <p><input type="number" name="task_score" id="score" min="1" value="100" required ></p>
                    </div>
                </div>
                <div id="task_desc">
                    <label for="desc">문제 설명</label>
                    <p><textarea id="desc" name="task_desc" placeholder="문제를 입력하세요." required ></textarea></p>
                </div>
                <div id="io_example">
                    <div id="input_place">
                        <label for="input_example">input</label>
                        <p><textarea name="input_example" id="input_example" required ></textarea></p>
                    </div>
                    <div id="output_place">
                         <label for="output_example">output</label>
                         <p><textarea name="output_example" id="output_example" required ></textarea></p>
                    </div>
                </div>
                <div id="grading_file_place">
                    <input type="file" name="input_grading_file" id="input_grading_file" class="file-upload"
                           accept=".py" onchange="return valid_check();" required/>
                    <span id="file_uploaded">{{ success }}{{ url }}</span>
                </div>
                <div id="button_place">
                    <button type="submit" id="submit_button">문제 등록</button>
                </div>
            </div>
        </form>
    </section>
{% else %}
    <div class="login_error">
        비정상적인 접근입니다. 해당 페이지에 접근하기 위해서는 관리자의 권한이 필요합니다.
    </div>
{% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/enroll.js' %}"></script>
{% endblock %}