{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static "css/index.css"%}">
{% endblock %}

{% block content %}
    <!-- Left Bar -->
    <aside class="leftbar">
        <div class="title">
            <div class="logo">
                <i class="fa-solid fa-computer"></i>
            </div>
            <span>HICC</span>
        </div>
        <div class="desc">
            <span class="hicc_hiccjoon">HICC 프로그래밍 대회 플랫폼</span>
            <span class="hiccjoon">HICCjoon</span>
        </div>
    </aside>
    <!-- Go Signup -->
    <div class="go_signup">
       <span class="comment">아직 계정이 없나요?</span>
        <button type="button" class="signup_btn" onclick="location.href={% url 'PSP:signup' %}">Sign up</button>
    </div>
    <!-- Login -->
    <section class="login">
        <!-- Title -->
        <div class="title">
            <h1 class="welcome">Sign in to HICCjoon</h1>
            <span class="login_msg">로그인이 필요합니다</span>
        </div>
        <!-- Panel -->
        <form  action="{% url 'PSP:index' %}" method="post" class="panel">
            {% csrf_token %}
            <div class="input_row">
                <label for="id_">ID</label>
                <input type="text" name="id_" id="id_" placeholder="Your ID"
                    minlength="4" maxlength="16" pattern="[a-zA-Z0-9]{4,16}" required>
                <span class="id_error_msg"></span>
            </div>
            <div class="input_row">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"
                    placeholder="Your password" minlength="8" maxlength="16"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" required>
                <span class="pw_error_msg"></span>
            </div>
            <button type="submit" class="login_btn">Login</button>
        </form>
    </section>
{% endblock %}

{% block js %}
    <script>
        const Authenticate_fail = "{{ Authenticate_fail| safe }}";
        const DoesNotExist = "{{ DoesNotExist| safe }}";
    </script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
