{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static "css/index.css"%}">
{% endblock %}

{% block content %}
    <header>
        <h1>HICC 프로그래밍 대회 플랫폼<br><strong id="HICCjoon">HICCjoon</strong></h1>
    </header>
    <section>
        <form id="panel_item" action="{% url 'PSP:index' %}" method="post">
            {% csrf_token %}
            <div id="panel_inner">
                <div id="id_pw_wrap">
                    <div class="input_row">
                        <span class="material-symbols-outlined">badge</span>
                        <div class="blank"></div>
                        <label for="id_" hidden></label>
                        <input type="text" name="id_" id="id_" class="input_text" placeholder="아이디"
                               minlength="4" maxlength="16" pattern="[a-zA-Z0-9]{4,16}" required>
                    </div>
                    <div class="input_row">
                        <span class="material-symbols-outlined">key</span>
                        <div class="blank"></div>
                        <label for="password" hidden></label>
                        <input type="password" name="password" id="password" class="input_text"
                               placeholder="비밀번호" minlength="8" maxlength="16"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" required>
                    </div>
                    <span id="error_message"></span>
                </div>
                <div id="buttons">
                    <button type="submit" id="login_btn">login</button>
                    <div class="blank"></div>
                    <button type="button" id="signup_btn" onclick="location.href={% url 'PSP:signup' %}">sign up</button>
                </div>
            </div>
        </form>
    </section>

    <footer>

    </footer>
{% endblock %}

{% block js %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}