{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
    <!-- 아래 부분은 파일 분리 예정 -->
{% endblock %}

{% block content %}
{% if user.is_authenticated and is_in_process %}
    <article class="main-section-container">
        <section class="main-section">
            <div id="remaining_time"></div>
        </section>
        {% for task in task_list %}
        <a class="main-section" href="task/{{ task.index }}">
            <span id="task-title">{{ task.tid }}. {{ task.tname }}</span>
<!--            <span id="task-author">{{ task.author }}</span>-->
        </a>
        {% endfor %}
        <button>
            제출 완료
        </button>
    </article>
{% else %}
    <div class="login_error">
        비정상적인 접근입니다. 정상적인 방법으로 이용해주시기 바랍니다.
    </div>
{% endif %}
{% endblock %}

{% block js %}
    <script>
        const contest_end_time = new Date({{ contest_end_time }});
    </script>
    <script src="{% static 'js/task_list.js' %}"></script>
{% endblock %}