{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
    <!-- 아래 부분은 파일 분리 예정 -->
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <article class="main-section-container">
        <section class="main-section">
            <!-- 남은 시간은 여기에-->
            <div>남은 시간: {{ remaining_time }}</div>
        </section>
        {% for task in task_list %}
        <a class="main-section" href="task/{{ task.index }}">
            <span id="task-title">{{ task.index }}. {{ task.name }}</span>
            <span id="task-author">{{ task.author }}</span>
        </a>
        {% endfor %}
        <button>
            제출 완료
        </button>
    </article>
{% else %}
    <div class="login_error">
        비정상적인 접근입니다. 로그인 후 이용하시기 바랍니다.
    </div>
{% endif %}
{% endblock %}

{% block js %}
    <!-- <script src="{% static 'js/task_list.js' %}"></script> -->
{% endblock %}