{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
    <!-- 아래 부분은 파일 분리 예정 -->
{% endblock %}

{% block content %}
{% if user.is_authenticated and is_in_process %}
    <!-- Header -->
    <header>
        <div class="logo">
            <i class="fa-solid fa-code"></i>
            <span class="title">HICCjoon</span>
        </div>
        <span id="remaining_time">남은 시간</span>
        <div class="member">
            <span class="login_user">{{ user.nickname }}님 환영합니다.</span>
            <div class="point">점수는 : <span class="current_point">100점</span></div>
        </div>
    </header>

    <main>
        <!-- Title -->
        <section class="title">
            <h1>{{ task_index }}. {{ task_title }}</h1>
        </section>

        <!-- Desc -->
        <section class="contents">
            <div class="title">
                <h2>문제</h2>
            </div>
            <div class="desc">{{ task_article }}</div>
        </section>
        <div class="example">
            <section class="contents">
                <div class="title">
                    <h2>예제 입력</h2>
                </div>
                <pre class="desc">{{ example_input }}</pre>
            </section>
            <section class="contents">
                <div class="title">
                    <h2>예제 출력</h2>
                </div>
                <pre class="desc">{{ example_output }}</pre>
            </section>
        </div>
        <section class="contents">
            <div class="title code_submit">
                <h2>제출</h2>
                <div id="language-container">
                    <label for="language">language</label>
                    <select id="language" name="language">
                        <option value="cpp">C/C++</option>
                        <option value="python">Python</option>
                    </select>
                </div>
            </div>
            <div class="desc">
                <pre id="editor-pre">
                    <code contenteditable="true" name="code" id="editor-code">int main(){}</code>
                </pre>
            </div>
        </section>
    </main>

    <!-- buttons -->
    <footer class="buttons">
        <button type="button" class="go_menu" onclick="location.href={% url 'PSP:task_list' %}">메뉴</button>
        <button type="submit" id="submit">제출</button>
    </footer>
{% else %}
    <div class="login_error">
        비정상적인 접근입니다. 정상적인 경로로 이용해주시기 바랍니다.
    </div>
{% endif %}
{% endblock %}

{% block js %}
<!-- highlight는 이거 사용하고 싶긴 한데... : https://highlightjs.org/ -->
    <!-- <link rel="stylesheet" href="highlight/styles/default.min.css">
    <script src="highlight/highlight.min.js"></script> -->
    <!-- <script>hljs.highlightElement(document.getElementById("code"));</script> -->
    <script>
        const contest_end_time = new Date({{ contest_end_time }});
    </script>
    <script src="{% static 'js/task_detail.js' %}"></script>
{% endblock %}
