{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
    <!-- 아래 부분은 파일 분리 예정 -->
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <article class="main-section-container">
        <section class="main-section">
            <!-- 남은 시간은 여기에-->
            <div>남은 시간: {{ remaining_time }}</div>
        </section>
        <section class="main-section">
            <div id="task-title">문제 {{ task_index }} {{ task_title }}</div>
            <hr />
            <div id="task-description">{{ task_description }}</div>
        </section>
        <section class="main-section">
            <span id="solution-title">Solution</span>

                <!-- language: python-->
            <div id="language-container">
                <span>language</span>
                <select id="language" name="language">
                    <option value="cpp">C/C++</option>
                    <option value="python">Python</option>
                </select>
            </div>
            <hr />
            
            <pre id="editor-pre">
                <code contenteditable="true" name="code" id="editor-code">int main(){}</code>
            </pre>

        </section>            
        <button id="submit">제출!</button>
    </article>
{% else %}
    <div class="login_error">
        비정상적인 접근입니다. 로그인 후 이용하시기 바랍니다.
    </div>
{% endif %}
{% endblock %}

{% block js %}
<!-- highlight는 이거 사용하고 싶긴 한데... : https://highlightjs.org/ -->
    <!-- <link rel="stylesheet" href="highlight/styles/default.min.css">
    <script src="highlight/highlight.min.js"></script> -->
    <!-- <script>hljs.highlightElement(document.getElementById("code"));</script> -->
    <script src="{% static 'js/task_detail.js' %}"></script>
{% endblock %}